<% stylesheet('/css/change.css') -%>
<% title = '修改密码 | Wind教口语' %>

<div class="change">
  <% include partials/topBanner %>
  <div class="content">
    <form class="change-form" id="change-form" action="/change_password/" method="post">
      <div class="form-group clearfix">
        <div class="change-title pull-left">修改密码</div>
      </div>
      <div class="form-group">
        <input type="password"
          name="old-password"
          class="form-control input-lg old-password-input"
          id="old-password-input"
          placeholder="旧密码"
          value="<%= vm['old-password'] || '' %>">
        <div id="old-password-input-error" class="error-tip" style="<%= errors['old-password'] ? '' : 'display: none;' %>">
          <%= errors['old-password'] %>
        </div>
      </div>
      <div class="form-group">
        <input type="password"
          name="password" class="form-control input-lg password-input" id="password-input" placeholder="新密码"
          value="<%= vm['password'] || '' %>">
        <div id="password-input-error" class="error-tip" style="display: none;">
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="confirm-password" class="form-control input-lg confirm-password-input" id="confirm-password-input" placeholder="重复新密码"
          value="<%= vm['confirm-password'] || '' %>">
        <div id="confirm-password-input-error" class="error-tip" style="<%= errors['confirm-password'] ? '' : 'display: none;' %>">
          <%= errors['confirm-password'] %>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-lg change-btn" id="change-btn">
          确认
        </button>
      </div>
    </form>
  </div>
  <div class="loading" style="display: none;">
  </div>
</div>
